@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import "tailwindcss";

:root {
  --font-playfair: "Playfair Display", serif;
  --font-dmsans: "DM Sans", sans-serif;
  --font-jetbrains: "JetBrains Mono", monospace;
}

.font-playfair {
  font-family: var(--font-playfair);
}

.font-dmsans {
  font-family: var(--font-dmsans);
}

.font-jetbrains {
  font-family: var(--font-jetbrains);
}
